.form {
  margin: 0 auto;
  width: 250px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  border-radius: 10px;
}
.input {
  background-color: transparent;
  height: 25px;
  font-size: 18px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid;
  &:focus-visible {
    outline: none;
    border: 1px solid white;
  }
}
.btn {
  margin: 0 auto;
  width: 200px;
  padding: 10px 0;
  border-radius: 5px;
  border: solid;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: rgb(78, 149, 78);
  }
}
