.nav {
  padding: 10px;
  background-color: var(--primary-background-color)
  border-radius: 10px;
  width: 800px;
  margin: 0 auto;
  margin-bottom: 15px;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}
